.wrapper{
  display: flex;
  height: 100%;
  background-color: #f6f6f6;
  position: relative;
}


app-storage-navigation{
  /*flex: 0;*/
}
.contentWrapper{
  border-radius: 20px;
  flex: 1;
  /*display: flex;*/
  /*position: relative;*/
  background-color: var(--BGcolor);
  transition: 1s;
  margin: clamp(0px,2vw,30px);
}
