.wrapper{
  display: flex;
  height: 100%;
  background-color: white;
}


app-storage-navigation{
  /*flex: 0;*/
}
.contentWrapper{
  flex: 1;
  /*position: relative;*/
  background-color: var(--BGcolor);
  transition: 1s;
}
