<div class="used-storage-section">
  <div class="storage-info">
    <!--    <div #storageUsed class="storageUsed">-->
    <!--      <div *ngIf="!HeaderService.isLoading"  >{{HeaderService.transform(HeaderService.usedStorage)}}</div>-->
    <!--    </div>-->


    <div  class="storageBar">
      <div class="progressBar" #usedStorageBar></div>
    </div>

    <!--    <div #storageLeft class="storageLeft">-->
    <!--      <div *ngIf="!HeaderService.isLoading"  >{{HeaderService.transform(HeaderService.totalVolume)}}</div>-->
    <!--    </div>-->

    <!--    <div *ngIf="HeaderService.isLoading" class="lds-dual-ring"></div>-->

  </div>
</div>


