.used-storage-section {
  width: 100%;
  height: fit-content;
  background-color: #545454;
  display: flex;
  /*justify-content: space-around;*/
  justify-content: center;
  align-items: center;
  position: relative;
  gap: clamp(10px,5vw,150px);
  margin-bottom: 15px;


}

a{
  text-decoration: none;
  color: black;
}






.storage-info{
  width: clamp(100px,30vw,1000px);
  height: fit-content;
  background-color: var(--BGcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(6px,0.8vw,14px);
  transition: 1s;
}

.storage-info .storageLeft,.storage-info .storageUsed{
  width:12%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0cc0df;
  border-radius: 100px;
  transition: 1s;

}

.storage-info .storageBar{
  width: 70%;
  height: 7px;
  background-color: #e3e3e3;
  border-radius: 100px;
  display: flex;
  align-items: center;
  /*padding: 0 5px;*/
}

.storage-info .storageBar .progressBar{
  width: 0;
  height: 20px;
  background-color: #0cc0df;
  border-radius: 100px;
  transition: 1.5s;
}

.storage-info .storageUsed{
  width:12%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0cc0df;
  border-radius: 100px;
  text-align: center;
  /* font-size: 10px; */

}






/*loader*/
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 34px;
  height: 34px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--textColor);
  border-color: var(--textColor) transparent var(--textColor) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 800px){
  .storage-info .storageLeft,.storage-info .storageUsed{
    display: none;
  }
  .storage-info{
    justify-content: center;

  }
}
