*{
  margin:0;
}
a{
  all: unset;
}
header{
  background-color: rgb(16, 185, 191);
  display: flex;
  justify-content: flex-end;
}

nav{
  margin-right:  60px;
}
nav li{
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 30px;
  margin:10px 0;
  background-color: #c1c1c1;
}
nav li p{
  margin: 0;
}
nav li:hover{
  background-color: rgb(43, 72, 73);
  transition: 0.8s;
  color: white;
}

button.buyBtn:disabled{
  cursor: not-allowed;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 20px;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-family: Inter;
  background-color: #3e3c3c;
  overflow-y: auto;
  padding: 20px 0;
}
.plan{
  background-color: #9FDEB5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 273px;
  transition: 1s;
}
.plan:hover{
  transform: translateY(-10px);
}
@media (max-width: 700px){
  .plan:hover{
    transform: translateY(0px);
  }
}
.titleAndBadge{
  display: flex;
  width: 100%;

  justify-content: space-between;

}
.titleAndBadge .title{
  color: white;
  flex-grow: 1;
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  padding: 10px;
  padding-left: 20px;
}
.titleAndBadge .badgeContainer{
  padding: 5px 15px;
  background-color: #DD4343;
  height: fit-content;
  border-radius: 0 0 0 20px;
}
.titleAndBadge .badgeContainer .badgeText{
  color: white;
  font-size:24px ;
  font-weight: bolder;
}


.horizontalLine{
  background-color: #D9D9D9;
  width: 90%;
  height: 5px;
}

.prosContainer{
  align-self: flex-start;
  margin-top: 10px;

  /*padding:0 40px;*/
}
.prosContainer ul{
  display: flex;
  flex-direction: column;
  gap: 10px ;
}
.prosContainer .pros{
  display: flex;
  color: white;
  align-items: center;
  gap: 6px;
  font-weight: bolder;
  width: 80%;
}
.prosContainer .pros .dot{
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 100px;
}
.buyBtn{
  all: unset;
  margin-top: 30px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding:10px 0;
  font-weight: bolder;
  transition: 0.3s;
}
.buyBtn:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}
.owned{
  background-color: grey;
}
.owned:hover{
  cursor: not-allowed;
  background-color: grey;
  color: white;
}
