<header>
  <div>
    <nav>
      <ul>
        <li>
          <p><a [routerLink]="['/storage', { outlets: { 'storage-outlet': 'dashboard' } }]">Dashboard</a></p>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="wrapper">
  <div class="plan">

    <div class="titleAndBadge">
      <p class="title">Primitive</p>
      <div class="badgeContainer">
        <p class="badgeText">FREE</p>
      </div>
    </div>

    <div class="horizontalLine"></div>

    <div class="prosContainer">
      <ul>
        <li class="pros"><div class="dot"></div> 10 GB storage</li>
        <li class="pros"><div class="dot"></div>500 MB/s download</li>
        <li class="pros"><div class="dot"></div>500 MB/s upload </li>
        <li class="pros"><div class="dot"></div>unlimited downloads and uploads</li>
      </ul>
    </div>


    <button class="buyBtn owned">Owned</button>
  </div>


  <div class="plan">

    <div class="titleAndBadge">
      <p class="title">Beginner</p>
      <div class="badgeContainer">
        <p class="badgeText">HOT</p>
      </div>
    </div>

    <div class="horizontalLine"></div>

    <div class="prosContainer">
      <ul>
        <li class="pros"><div class="dot"></div> 100 GB storage</li>
        <li class="pros"><div class="dot"></div>1 GB/s download</li>
        <li class="pros"><div class="dot"></div>2 GB/s upload </li>
        <li class="pros"><div class="dot"></div>unlimited downloads and uploads</li>
      </ul>
    </div>


    <button class="buyBtn">Buy</button>
  </div>


  <div class="plan">

    <div class="titleAndBadge">
      <p class="title">Pro</p>
      <div class="badgeContainer">
        <p class="badgeText">POPULAR</p>
      </div>
    </div>

    <div class="horizontalLine"></div>

    <div class="prosContainer">
      <ul>
        <li class="pros"><div class="dot"></div>200 GB storage</li>
        <li class="pros"><div class="dot"></div>1 GB/s download </li>
        <li class="pros"><div class="dot"></div>2 GB/s upload </li>
        <li class="pros"><div class="dot"></div>unlimited downloads and uploads</li>
      </ul>
    </div>


    <button class="buyBtn">Buy</button>
  </div>
</div>


