#proceedFolderFormBtn{
  position: absolute;
  left: -9999px;
}
.titleContainer{
  display: flex;
  flex-direction: column;
}
.titleContainer label{
  text-align: center;
  padding: 10px 0;
}
.titleContainer input{
  text-align: center;
  margin-bottom: 20px;
}


.navigation{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.navigation .proceed, .navigation .abort{
  padding: 15px 10px;
  border-radius: 20px;
  cursor: pointer;
}
.navigation label{
  cursor: pointer;
}
.navigation .proceed {
  background-color: rgb(16, 238, 16);
}
.navigation .abort {

  background-color: rgb(232, 0, 0);


}
