
<div #popupAddFolder  class="wrapper">
  <form  [formGroup]="folderForm" (ngSubmit)="onFormSubmit()" enctype="multipart/form-data">
    <div class="titleContainer">
<!--      <label for="folderNameInput">Title:</label>-->
      <input id="folderNameInput" type="text" formControlName="folderName" placeholder="Folder name">
    </div>

    <div class="navigation">
      <div class="proceed">
        <label for="proceedFolderFormBtn">Proceed</label>
        <button id="proceedFolderFormBtn" type="submit"></button>
      </div>
      <div (click)="PopupService.hidePopup()" class="abort">
        <label   >Abort</label>
      </div>
    </div>

  </form>
  <p class="errorMessage"></p>
</div>
