button{
  /* position: absolute; */
  all: unset;
  background-color: chocolate;
  padding: 10px 15px;
  display: flex;
}
button:hover{
  cursor: pointer;
}
 .file i{
  font-size: 720%;
  color: var(--textColor);
  transition: 1s;
}
 .cell h3{
   color: var(--textColor);
   transition: 1s;
   margin: 0;
 }
 .cell{
   width: clamp(100px,8vw,150px);
   height: clamp(100px,8vw,150px);
   aspect-ratio: 1/1;
   text-align: center;
   /*padding-top: 10px;*/
 }
 .cell:hover{
   background-color: var(--cellOnHover);
 }
 .wrapper{
   height: 90vh;
   display: flex;
   padding: 50px;
   gap: 20px;
   overflow-y: scroll;
   background-color: var(--BGcolor);
   transition: 1s;
   flex-wrap: wrap;
 }
a{
  all: unset;
}
