.headerWrapper{
  display: flex;
  position: relative;
  justify-content: space-between;
}



.urlWrapper{
  display: flex ;
  position: relative;
  /*z-index: 9999;*/
  flex-direction: column;
  width: 35%;
  /*justify-content: center;*/
  margin: 30px auto 30px auto;
  transition: 0.7s;

}
.urlWrapper:focus-within{
  /*background-color: red;*/
  width: 50%;

}

.urlWrapper .url,
.urlWrapper .searchCompletionsWrapper,
.urlWrapper .searchCompletionsWrapper .searchCompletion {
  width: 100%;
}


.urlWrapper .url{
  position: relative;
  display: flex;
  border-radius: 20px;
}

.urlWrapper .url  label {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #F3F1F1FF;
}
.urlWrapper .url  label i{

  padding: 1px;

}
.urlWrapper .url input {
  height: 30px;
  width: 100%;
  border:none;
  padding-left: 10px;
  background-color: #f3f1f1;


}

.urlWrapper .url input:focus {
  outline: none;
}

.searchCompletionsWrapper{
  width: 0;
  height: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}

.urlWrapper .searchCompletionsWrapper .searchCompletion {
  position: fixed;
  display: none;
  width: 0;
  height: fit-content;
  border-radius: 20px;

  background-color: #ffd8d8;
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: 0.7s;
  z-index: 9999;
}

.urlWrapper .searchCompletion::-webkit-scrollbar{
  display: none;
}



.urlWrapper  .searchCompletion .completion p{
  margin: 0 ;
  padding: 15px 15px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.urlWrapper .searchCompletion .completion:hover{
  background-color: rgb(9, 181, 181);
  cursor: pointer;
}



.navigation {
  display: flex;
  padding: clamp(0px,1vw,10px);
  height: fit-content;
  /*overflow: visible;*/
  background-color: #f0f0f0;
  box-shadow: inset 0 0 10px rgba(165, 165, 165, 0.5);
   /*height: 26px;*/
}

.root-nav-btn{
  border-right: var(--BGcolor) solid;
  transition: 0.3s;
}
.root-nav-btn:hover{
  cursor: pointer;
}

.navigation .actionBtn{

  display: flex;
  width: 100%;
  padding: 5px clamp(4px,1vw,10px);
  justify-content: center;
  align-items: center;
  color: black;
  font-size: clamp(7px,1vw,18px);
  transition: 0.3s;
  cursor: pointer;
  background-color: #f0f0f0;
}
.navigation .actionBtn:hover{
  background-color: #748183;
}

.navigation .actionBtn:first-child{

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.navigation .back-and-further-btns {
  display: flex;
  width: fit-content;
  max-height: 26px;
}
@media (max-width: 900px) {
  .navigation .back-and-further-btns{
    flex-direction: column;
    max-height: fit-content;
  }
  .navigation .actionBtn:first-child{

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.navigation .urlBar {
  /*background-color: #9da5a6;*/
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  min-height: 26px;
  /*line-height: 26px;*/

}


.navigation .urlBar .dirBtn,
.navigation .urlBar .mainRootBtn {
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  padding: 0 15px 0 15px;
  flex: 1 0 1fr;
  min-width: 60px;
  max-height: 26px;
  border-radius: 50px;
  border: #777777 solid 0.02cm;
  position: relative;
}
.navigation .urlBar .mainRootBtn {
  background-color: #afb1b2;
  display: flex;
  align-items: center;
  padding: 0 20px;
  min-width: 60px;
  border-radius: 0;
  /*z-index: 999;*/
  /*margin-bottom: 5px;*/
}
.navigation .urlBar  .dirDivBorder,
.navigation .urlBar .mainRootBtn{
  height: clamp(20px,3vw,26px);
}
.navigation .urlBar  .dirDivBorder {
  background-color: #D9D9D9;
  border-top: #777777 solid 0.01cm;
  border-bottom: #777777 solid 0.01cm;

  margin-bottom: 5px;
  transition: 0.3s;
}
.navigation .urlBar .dirDivBorder.firstColumn{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}.navigation .urlBar .dirDivBorder.lastColumn{
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
}
.navigation .urlBar .dirBtn{
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  border-top: none;
  border-bottom: none;

  transform: translateX(20px);
}


.navigation .urlBar .dirDivBorder:last-child{
  background-color: #6197E8;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.navigation .urlBar .dirDivBorder:nth-last-child(2):not(.mainRootBtn) {
  background-color: #6197E8;
}
.navigation .urlBar .dirDivBorder:nth-child(2){
  background-color: #D9D9D9;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.navigation .urlBar .dirDivBorder:last-child .dirBtn{
  color: white;
  background-color: #6197E8;
}
