<div class="container">
  <div class="scrollerContainer">
    <span>Terms and Conditions of Use</span>

    <span>Effective Date: 19.10.2023</span>

    <span>1. Acceptance of Terms</span>

    <span>By accessing or using "The Confederacy" cloud storage web app (referred to as "we," "our," or "us"), you agree to comply with and be bound by these Terms and Conditions of Use ("Terms"). If you do not agree to these Terms, please do not use our services.</span>

    <span>2. Limitation of Liability</span>

    <span>a. File Integrity: We make every effort to maintain the integrity of files stored on our platform. However, we expressly disclaim any responsibility for corrupted, missing, or damaged files. Users are encouraged to regularly back up their data.</span>

    <span>b. Data Security: While we take security measures to protect user data, we cannot guarantee its absolute security. Users are responsible for taking precautions to protect their data.</span>

    <span>3. User Data</span>

    <span>a. Data Collection: To provide our services, we collect and store user email addresses, usernames, and hashed passwords. We do not share this information with third parties without user consent. Our data collection and use practices are outlined in our Privacy Policy.</span>

    <span>4. Usage and Conduct</span>

    <span>a. Acceptable Use: Users of "The Confederacy" are required to abide by our Acceptable Use Policy, which prohibits any unlawful, offensive, or harmful activities while using our services.</span>

    <span>5. Termination</span>

    <span>a. Account Termination: We reserve the right to terminate or suspend user accounts at our discretion, especially in cases of violation of these Terms or unlawful activities.</span>

    <span>6. Intellectual Property</span>

    <span>a. Ownership: All content, software, and intellectual property provided by "The Confederacy" remain our exclusive property and are protected by copyright and intellectual property laws. Users are not allowed to reproduce, modify, or distribute our content without our express consent.</span>

    <span>7. Changes to Terms</span>

    <span>a. Modification: We may modify these Terms at any time. Users will be notified of significant changes via email or a notice on our website.</span>

    <span>8. Governing Law and Jurisdiction</span>

    <span>a. Applicable Law: These Terms are governed by the laws of Bulgaria. Any disputes arising under or in connection with these Terms shall be resolved in the appropriate courts of Bulgaria.</span>

    <span>9. Contact Information</span>

    <span>If you have any questions, concerns, or require further information about these Terms and Conditions of Use, please contact us at viktor_shandrov@abv.bg.</span>
  </div>

</div>
