<div class="register-wrapper">
    <form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="email">
            <div class="input">
                <label for="email">Email:
                </label>
                <input formControlName="email" type="text" id="email" placeholder="your_email@gmail.com">
            </div>
            <div *ngIf="formGroup.get('email')?.touched">
                <p *ngIf="formGroup.get('email')?.errors?.['required']">Email is required</p>
                <p *ngIf="formGroup.get('email')?.errors?.['email']">Email is not valid</p>
            </div>

        </div>
        <div class="password">
            <div class="input">
                <label for="password">Password:
                </label>
                <input formControlName="password" type="text" id="password" placeholder="*************">
            </div>
            <div *ngIf="formGroup?.get('password')?.touched">
                <p *ngIf="formGroup?.get('password')?.errors?.['required']">Password is required</p>
            </div>

        </div>
        <button type="submit">Login</button>
        <p class="errorContainer"></p>
        <div class="register">
            <p>Dont't have an account?</p> <a
                [routerLink]="['/users', { outlets: { 'user-view': 'register' } }]">Register</a>
        </div>
    </form>
</div>