<div #container class="aside">
  <div #btn (click)="toggleSideBar(btn,container)" class="toggleAsideBar">
    <i class="fa-solid fa-chevron-left"></i>
  </div>
  <div  class="wrapper">
    <div class="elements">
      <a
        [routerLink]="['/storage', { outlets: { 'storage-outlet': 'dashboard' } }]"><i #asideElementIcon class="fa-solid fa-chart-line icon"></i><div #asideElement  class="asideElement">Dashboard</div></a>
      <a
        [routerLink]="['/storage', { outlets: { 'storage-outlet': 'shared-with-users' } }]"><i #asideElementIcon class="fa-solid fa-user-group icon" ></i><div #asideElement class="asideElement">Shared with Users</div></a>
      <a
        [routerLink]="['/storage', { outlets: { 'storage-outlet': 'shared-with-me' } }]"><i #asideElementIcon class="fa-solid fa-user icon"></i><div #asideElement class="asideElement">Shared with me</div></a>



      <a
        [routerLink]="['/storage', { outlets: { 'storage-outlet': UserService.rootId } }]"><i #asideElementIcon class="fa-solid fa-database icon"></i><div #asideElement class="asideElement">Storage</div></a>
    </div>

    <i #asideElementIcon class="fa-solid fa-store icon lastIcon"></i>
    <div #asideElement class="upgardeButton asideElement"><a [routerLink]="['/plans']">Upgrade to plus</a> </div>
  </div>
</div>

