<div #container class="aside">
  <div #btn (click)="toggleSideBar(btn,container)" class="toggleAsideBar">
    <i class="fa-solid fa-chevron-left"></i>
  </div>
  <div class="companyName">
    <h1>TheConfederacy cloud</h1>
    <app-used-storage></app-used-storage>
  </div>
  <div  class="wrapper">
    <div class="elements">
      <a
        [routerLink]="['/storage', { outlets: { 'storage-outlet': 'dashboard' } }]">
        <i #asideElementIcon class="fa-solid fa-chart-line icon"></i>
        <div #asideElement id="aside1"  class="asideElement">Dashboard</div>
<!--        <div id="borderBottom1" class="borderBottom"></div>-->
      </a>
      <a
        [routerLink]="['/storage', { outlets: { 'storage-outlet': 'shared-with-users' } }]">
        <i #asideElementIcon class="fa-solid fa-user-group icon" ></i>
        <div #asideElement id="aside2"  class="asideElement">Shared with Users</div>
<!--        <div id="borderBottom2" class="borderBottom"></div>-->
      </a>
      <a
        [routerLink]="['/storage', { outlets: { 'storage-outlet': 'shared-with-me' } }]">
        <i #asideElementIcon class="fa-solid fa-user icon"></i>
        <div #asideElement id="aside3"  class="asideElement">Shared with me</div>
<!--        <div id="borderBottom3" class="borderBottom"></div>-->
      </a>
      <a
        [routerLink]="['/storage', { outlets: { 'storage-outlet': UserService.rootId } }]">
        <i #asideElementIcon class="fa-solid fa-database icon"></i>
        <div #asideElement id="aside4"  class="asideElement">Storage</div>
<!--        <div id="borderBottom4" class="borderBottom"></div>-->
      </a>
    </div>

    <i #asideElementIcon class="fa-solid fa-store icon lastIcon"></i>
    <div #asideElement class="upgardeButton asideElement"><a [routerLink]="['/plans']">Upgrade to plus</a> </div>
  </div>
</div>

