.aside{
  width: clamp(100px,20vw,250px);
  height: 100%;
  background-color: white;
  transition: 1s;
  border-right: solid #5D5D5D 0.01cm;
}
.aside .companyName{
  text-align: center;
  border-bottom: solid #5D5D5D 0.01cm;
}
.aside .companyName h1{
  color: #6197E8;
  padding: 15px;
  font-size: 27px;
  font-weight: bolder;
  margin-bottom: 0;
}
.aside .toggleAsideBar{
  display: none;
  justify-content: start;
  background-color: #3e3c3c;
}
.aside .toggleAsideBar i{
  padding: 10px;
  background-color: #545454;

}
.aside .toggleAsideBar i:hover{
  padding: 10px;
  background-color: white;

}

.aside .elements .asideElement , .aside .upgardeButton{
  cursor: pointer;
  font-weight: bolder;
  /*padding: 15px clamp(5px,1vw,40px);*/
  padding: 15px 0;

  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-size: clamp(10px,1.4vw,16px);

}
.aside .upgardeButton{
  margin-bottom: 70px;
}

.aside .elements .asideElement:hover , .aside .upgardeButton:hover{
  background-color: #6197E8;
  transition: 0.3s;
}
.aside .wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}
a{
  text-decoration: none;
  color: black  ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon{
  display: none;
  justify-content: center;
  /*flex-direction: column;*/
  gap: 10px;
  padding: clamp(15px,2vh,40px) 0;
}


.icon:hover{
  background-color: white;
  transition: 0.3s;
}
.lastIcon{

  margin-bottom: 35px;
}
.borderBottom{
  background-color:  #5D5D5D ;
  height: 0.1cm;
  width: 5px;
  transition: 0.3s ease-in-out;
  border-radius: 100px;
}
#aside1:hover ~ #borderBottom1 {
  width: 80%;
}#aside2:hover ~ #borderBottom2 {
  width: 80%;
}#aside3:hover ~ #borderBottom3 {
  width: 80%;
}#aside4:hover ~ #borderBottom4 {
  width: 80%;
}

