.aside{
  width: clamp(100px,20vw,250px);
  height: calc(100vh - var(--header-height));
  background-color: #a6a6a6;
  transition: 1s;
}
.aside .toggleAsideBar{
  display: flex;
  justify-content: start;
  background-color: #3e3c3c;
}
.aside .toggleAsideBar i{
  padding: 10px;
  background-color: #545454;

}
.aside .toggleAsideBar i:hover{
  padding: 10px;
  background-color: white;

}

.aside .elements .asideElement , .aside .upgardeButton{
  cursor: pointer;
  font-weight: bolder;
  padding: 15px clamp(5px,1vw,40px);
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-size: clamp(10px,1.4vw,16px);

}
.aside .upgardeButton{
  margin-bottom: 70px;
}

.aside .elements .asideElement:hover , .aside .upgardeButton:hover{
  background-color: white;
  transition: 0.3s;
}
.aside .wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}
a{
  text-decoration: none;
  color: black  ;
}
.icon{
  display: none;
  justify-content: center;
  /*flex-direction: column;*/
  gap: 10px;
  padding: clamp(15px,2vh,40px) 0;
}


.icon:hover{
  background-color: white;
  transition: 0.3s;
}
.lastIcon{

  margin-bottom: 35px;
}

