  .navigation {
    display: flex;
    /* height: 26px; */
}

  .root-nav-btn{
    border-right: #2f3434 solid;
  }
  .root-nav-btn:hover{
    cursor: pointer;
  }

  .navigation .back,.navigation .sort, .navigation .toggleView{
    padding: 5px 15px;
    justify-content: center;color: var(--textColor);
    transition: 1s;
    cursor: pointer;

  }
.actionBtn:hover{
  background-color: #748183;
}
  .navigation .back-and-further-btns{
    background-color: var(--BGcolor);
    transition: 1s;
  }
  .navigation .back,  .navigation .back-and-further-btns {
    display: flex;
    max-height: 26px;
}
  .navigation .urlBar {
    background-color: #9da5a6;
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;


}
  .navigation .urlBar .url{
    flex: 1 0 200px; /* Adjust as needed */
    min-width: 60px;
    position: relative;
    width: 100%;

}

  .navigation .urlBar input {
    height: 100%;
    padding: 0;
    /*background-color: #ffffff;*/
    border: none;
    width: 100%;
    /* min-width: 500px; */
    background-color: var(--BGcolor);
    transition: 1s;
}

  .navigation .urlBar input:focus {
    outline: none;
    border: none;
  }
  .navigation .urlBar .mainRootBtn {
    background-color: #748183;
    display: flex;
    align-items: center;
    padding: 0 20px;
     min-width: 60px;
}
  .navigation .urlBar .rootBtn {
    background-color: #9da5a6;
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex: 1 0 1;
   min-width: 60px;
}
  .navigation .urlBar .searchCompletion {
    position: fixed;
    width: 100%;
    display: none;
    background-color: pink;
    z-index: 9999; /* Set a high z-index value */
}
  .navigation .urlBar .searchCompletion .completion p{
    margin: 0 ;
    padding: 15px 15px;
}
  .navigation .urlBar .searchCompletion .completion:hover{
    background-color: rgb(9, 181, 181);
    cursor: pointer;
}
