<div class="navigation">
    <div class="back-and-further-btns">
        <div #backBtn class="back">
             <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div #sortBtn class="sort">
          <i class="fa-solid fa-arrow-down-z-a"></i>
        </div>
      <div (click)="toggleViewStructure(toggleViewIcon)"  class="toggleView">
      <i #toggleViewIcon class="fa-solid fa-table-list"></i>
        </div>
    </div>
    <div class="urlBar">
        <div class="mainRootBtn root-nav-btn" #mainRootBtn [attr.id]="rootId">:root</div>
        <div *ngFor="let dir of dirs" #dirDiv class="rootBtn root-nav-btn" [attr.rootId]="dir._id" [attr.id]="dir._id">{{dir.name}}</div>

        <div class="url">
            <input #urlBarInput type="url" placeholder="  Enter location...">

            <div #searchCompletion class="searchCompletion" >
                <div *ngFor="let completion of completions" class="completion" [attr.id]="completion._id" #completionDiv>
                    <p>{{completion.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
