

.storage{
  height: 100vh;
  display: grid;
  padding: 50px;
  grid-template-columns: repeat(auto-fit,minmax(100px,150px));
  grid-template-rows: repeat(auto-fit,minmax(100px,150px));
  gap: 20px;
  overflow-y: scroll;
  background-color: var(--BGcolor);
  transition: 1s;

}

.storage .cell{
  width: 100%;
  aspect-ratio: 1/1;
  text-align: center;
}
.storage .cell:hover{
  background-color: #c2e7ff
}

.storage .cell h3{
  text-overflow: ellipsis;
  margin: 5px 0;
  color: var(--textColor);
  transition: 1s;
}

.storage .directory i, .storage .file i{
  font-size: 720%;
  color: var(--textColor);
  transition: 1s;
}
.noFoldersMSGContainer{
  display: flex;
  justify-content: center;
}
.noFoldersMSG{
  padding: 20px;
  width: 80%;
  justify-self: center;
  background-color: #c6ffc6;
  border: solid 0.07cm grey;
  border-radius: 20px;
  text-align: center;
}
