
<div *ngIf="!isLoading">
  <div  *ngIf="haveFolder">
    <div class="storage">
      <div appFolderDoubleClick #folderElement  *ngFor="let folder of this.SharedWithService.folders" class="cell directory sharedWithMe" [attr._id]="folder._id" >
          <i class="fa-solid fa-folder"></i>
        <h3>{{folder.name}}</h3>
      </div>
    </div>
  </div>
  <div class="noFoldersMSGContainer" *ngIf="!haveFolder">
    <p class="noFoldersMSG">There are no shared with you folders</p>
  </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>

