<!--<div class="register-wrapper">-->
<!--  <form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup,renderer)">-->
<!--    <div class="email">-->
<!--      <div class="input">-->
<!--&lt;!&ndash;        <label for="email">Email:&ndash;&gt;-->
<!--&lt;!&ndash;        </label>&ndash;&gt;-->
<!--        <input formControlName="email" type="text" id="email" placeholder="Email">-->
<!--      </div>-->
<!--      <div *ngIf="formGroup.get('email')?.touched">-->
<!--        <p *ngIf="formGroup.get('email')?.errors?.['required']">Email is required</p>-->
<!--        <p *ngIf="formGroup.get('email')?.errors?.['email']">Email is not valid</p>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="password">-->
<!--      <div class="input">-->
<!--&lt;!&ndash;        <label for="password">Password:&ndash;&gt;-->
<!--&lt;!&ndash;        </label>&ndash;&gt;-->
<!--        <input formControlName="password" type="text" id="password" placeholder="Password">-->
<!--      </div>-->
<!--      <div *ngIf="formGroup?.get('password')?.touched">-->
<!--        <p *ngIf="formGroup?.get('password')?.errors?.['required']">Password is required</p>-->
<!--      </div>-->

<!--    </div>-->
<!--    <button type="submit">Login</button>-->
<!--&lt;!&ndash;    <p class="errorContainer"></p>&ndash;&gt;-->
<!--    <div class="register">-->
<!--      <p>Don't have an account?</p> <a-->
<!--      [routerLink]="['/users', { outlets: { 'users-view': 'register' } }]">Register</a>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->

<div class="register-wrapper">
  <form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup,renderer)">
    <div class="email">
      <div class="input">
        <!--        <label for="email">Email:-->
        <!--        </label>-->
        <input formControlName="email" type="text" id="email" placeholder="Email">
      </div>
      <div *ngIf="formGroup.get('email')?.touched" class="invalidInputSection">
        <p *ngIf="formGroup.get('email')?.errors?.['required']">Email is required</p>
        <p *ngIf="formGroup.get('email')?.errors?.['email']">Email is not valid</p>
      </div>

    </div>
    <div class="password">
      <div class="input">
        <!--        <label for="password">Password:-->
        <!--        </label>-->
        <input formControlName="password" type="text" id="password" placeholder="Password">
      </div>
      <div *ngIf="formGroup?.get('password')?.touched" class="invalidInputSection">
        <p *ngIf="formGroup?.get('password')?.errors?.['required']">Password is required</p>
        <p *ngIf="formGroup.get('password')?.errors?.['minlength']">
          Password must be at least 5 chars long
        </p>
      </div>

    </div>
    <button type="submit">Login</button>
    <button (click)="toggleGoogleSignMenu()" class="googleBtn" ><img src="assets/google.png" alt="google"></button>
    <!--    <p class="errorContainer"></p>-->
    <div class="register">
      <p>Don't have an account?</p> <a
      [routerLink]="['/users', { outlets: { 'users-view': 'register' } }]">Register</a>
    </div>
  </form>
</div>
