/*.register-wrapper {*/
/*  background-color: white;*/
/*  border-radius: 60px;*/

/*  border: solid 0.2cm #3e3c3c;*/
/*  width: clamp(280px,80%,330px);*/
/*  height: clamp(280px,80vh,400px);*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  margin: 20px auto;*/

/*}*/
/*input{*/
/*  all: unset;*/
/*  background-color: white;*/
/*  border: #6197E8 solid 0.05cm;*/
/*  border-radius: 10px;*/
/*  height: 25px;*/
/*  padding-left:10px;*/
/*}*/
/*input:focus{*/
/*  border: #6197E8 solid 0.08cm;*/
/*}*/
/*form {*/
/*  padding: clamp(10px,10vh,40px) 0;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 50px;*/
/*}*/
/*!*form > * {*!*/
/*!*  display: flex;*!*/
/*!*  justify-content: flex-end;*!*/
/*!*}*!*/
/*.email,.password{*/
/*  display: flex;*/
/*  justify-items: center;*/
/*}*/
/*form > * label {*/
/*  margin-right: 10px;*/
/*}*/
/*button {*/
/*  padding: 10px 10px;*/
/*  border-radius: 10px;*/
/*  background-color: blue;*/
/*  color: white;*/
/*  justify-content: center!important;*/
/*  cursor: pointer;*/
/*}*/
/*form .register a{*/
/*  margin-left: 5px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/
/*.errorContainer{*/
/*  margin: 0;*/
/*}*/
/*form .register a{*/
/*  margin-left: 5px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/
.register-wrapper {
  background-color: #D9D9D9;
  border-radius: 60px;
  width: clamp(280px,80%,330px);
  height: clamp(280px,80%,500px);
  /*border: solid 0.2cm #3e3c3c;*/
  display: flex;
  justify-content: center;
  margin: 20px auto;

}
form {
  padding:clamp(10px,10vh,50px) 0;
  display: flex;
  flex-direction: column;
  gap: clamp(10px,10vh,20px);
}
form > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  all: unset;
  background-color: white;
  border: #6197E8 solid 0.05cm;
  border-radius: 10px;
  height: 25px;
  padding-left:10px;
}
input:focus{
  border: #6197E8 solid 0.08cm;
}
.input{
  display: flex;
  justify-content: flex-end;
}
form > * label {
  margin-right: 10px;
}
button {
  padding: 10px 10px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  justify-content: center!important;
  cursor: pointer;
}
form .login a{
  margin-left: 5px;
  display: flex;
  align-items: center;
}
.invalidInputSection p{
  margin-bottom: 0;
}
.errorContainer{
  margin: 0;
}

