<div class="wrapper">
  <button id="homePage"> <a [routerLink]="['/storage', { outlets: { 'storage-outlet': UserService.rootId } }]">Home</a></button>

  <form #newNotificationForm="ngForm" (ngSubmit)="onSubmit(allUsersCheckBox,levelInput)" >
    <input name="message" type="text" id="notificationInput" [(ngModel)]="formData.message" placeholder="message" required>
    <input name="userId" type="text" id="userIdInput" [(ngModel)]="formData.userId" placeholder="userId">
    <select [value]="3" #levelInput id="levelInput">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <label > All users</label>
    <input #allUsersCheckBox type="checkbox">
    <button type="submit">Send</button>
  </form>
</div>
