<div class="register-wrapper">
  <form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="email">
      <div class="input">
<!--        <label for="email">Email:-->
<!--        </label>-->
        <input formControlName="email" type="text" id="email" placeholder="Email">
      </div>
      <div *ngIf="formGroup.get('email')?.touched" class="invalidInputSection">
        <p *ngIf="formGroup.get('email')?.errors?.['required']">Email is required</p>
        <p *ngIf="formGroup.get('email')?.errors?.['email']">Email is not valid</p>
      </div>

    </div>
    <div class="password">
      <div class="input">
<!--        <label for="password">Password:-->
<!--        </label>-->
        <input formControlName="password" type="password" id="password" placeholder="Password">
      </div>
      <div *ngIf="formGroup?.get('password')?.touched" class="invalidInputSection">
        <p *ngIf="formGroup?.get('password')?.errors?.['required']">Password is required</p>
        <p *ngIf="formGroup.get('password')?.errors?.['minlength']">
          Password must be at least 5 chars long
        </p>
      </div>

    </div>
    <div class="rePass">
      <div class="input">
<!--        <label for="rePass">rePass:-->
<!--        </label>-->
        <input formControlName="rePass" type="password" id="rePass" placeholder="Repeat Password" >
      </div>
      <div *ngIf="formGroup?.get('rePass')?.touched" class="invalidInputSection">
        <p *ngIf="formGroup.hasError('passwordMismatch')">Passwords do not match</p>
      </div>
    </div>
    <button class="register" type="submit"><p>Register</p></button>
    <button (click)="toggleGoogleSignMenu()" class="googleBtn" ><img src="assets/google.png" alt="google"></button>
<!--    <button (click)="handleGoogleBtn()">Register</button>-->

<!--    <p class="errorContainer"></p>-->
    <div class="login">
      <p>Already have an account?</p> <a
      [routerLink]="['/users', { outlets: { 'users-view': 'login' } }]">Login</a>
    </div>
  </form>
</div>

