.mainWrapper {
  display: flex;
}
.mainWrapper main,
.mainWrapper {
  width: 100%;
}
.wholeStorage {
  height: 100%;
}
.dashboardWrapper {
  /* display: block; */
}
main {
  /* position: relative; */
}

