.mainWrapper {
  display: flex;
}
.mainWrapper main,
.mainWrapper {
  width: 100%;
}

.wholeStorage{
  height: 100%;
  background-color: var(--BGcolor);
  transition: 1s;
}
.dashboardWrapper {
  /* display: block; */
}
main {
  /* position: relative; */
}

