<div class="aside">
    <div class="toggleAsideBar">
        <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div class="wrapper">
        <div class="elements">
            <a
                [routerLink]="['/storage', { outlets: { 'storage-router-outlet': 'dashboard' } }]"><div  class="asideElement">Dashboard</div></a>
            <a
            [routerLink]="['/storage', { outlets: { 'storage-router-outlet': 'sharedWithUsers' } }]"><div class="asideElement">Shared with Users</div></a>
            <a
            [routerLink]="['/storage', { outlets: { 'storage-router-outlet': 'sharedWithMe' } }]"><div class="asideElement">Shared with me</div></a>
            
            <a
                [routerLink]="['/storage', { outlets: { 'storage-router-outlet': rootId } }]"><div class="asideElement">Storage</div></a>
        </div>
        <div class="upgardeButton">Upgarde to Plus</div>
    </div>
</div>
