<div class="aside">
    <div class="toggleAsideBar">
        <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div class="wrapper">
        <div class="elements">
            <div class="asideElement">Dashboard</div>
            <div class="asideElement">Shared with Users</div>
            <div class="asideElement">Shared Public</div>
            <div class="asideElement">Shared with me</div>
            <div class="asideElement">Storage</div>
        </div>
        <div class="upgardeButton">Upgarde to Plus</div>
    </div>
</div>
