<header>
  <div class="user-section">
    <div class="notifications" (click)="HeaderService.toggleNotificationSection()">
      <i id="notificationIcon" class="fa-regular fa-bell ">
        <div *ngIf="HeaderService.areThereNewNotifications" class="newNotificationCircle">
          <div class="whiteCircle"></div>
        </div>
      </i>
      <div #notificationSection class="notificationSectionWrapper">
        <app-loader *ngIf="HeaderService.notificationPanelIsLoading"></app-loader>
        <div  class="notificationSection" >
          <div *ngFor="let element of CacheService.notifications" class="notification" [attr.level]="element.notification.level">
            <div class="wrapper">
              <div class="infoIcon">
                <i  class="fa-solid fa-info"></i>
              </div>
              <div class="notificationMessage">
               {{element.notification.message}}
              </div>
            </div>
            <div class="hr"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-profile-picture" (click)="HeaderService.toggleUserMenu()">
<!--      <i class="fa-solid fa-user"></i>-->
      <img class="userImage" src="./assets/COVIDREADY.png" alt="">
      <div  #userMenu class="user-menu" >
        <div (click)="UserSettingsPopupService.showPopup()" class="option settings">Settings</div>
        <div class="option logout">
          <a [routerLink]="['/users', { outlets: { 'users-view': 'login' } }]">Logout</a>
        </div>
      </div>
    </div>
    <div class="usernameContainer">
      <p class="username">Viktor Shandrov</p>
      <p class="email">shadopest@abv.bg</p>
    </div>
  </div>





</header>

<!--//LEGACY-->
<!--  <div class="logo">-->
<!--    <i class="fa-solid fa-database"></i>-->
<!--  </div>-->
<!--  <div class="storage-info">-->
<!--    <div #storageUsed class="storageUsed">-->
<!--      <div *ngIf="!HeaderService.isLoading"  >{{HeaderService.transform(HeaderService.usedStorage)}}</div>-->
<!--    </div>-->
<!--    <div *ngIf="HeaderService.isLoading" class="lds-dual-ring"></div>-->

<!--    <div  class="storageBar">-->
<!--      <div class="progressBar" #usedStorageBar></div>-->
<!--    </div>-->
<!--    <div *ngIf="HeaderService.isLoading" class="lds-dual-ring"></div>-->
<!--    <div #storageLeft class="storageLeft">-->
<!--      <div *ngIf="!HeaderService.isLoading"  >{{HeaderService.transform(HeaderService.totalVolume)}}</div>-->
<!--    </div>-->

<!--    <div *ngIf="HeaderService.isLoading" class="lds-dual-ring"></div>-->

<!--  </div>-->

<!--  <div class="lightDarkModeSlider" (click)="HeaderService.toggleDarkMode(Renderer2,btn)">-->
<!--    <button #btn  class="lightDarkModeBtn"></button>-->
<!--  </div>-->
<!--  <div class="user-settings-menu">-->
<!--    <a-->
<!--      [routerLink]="['/users', { outlets: { 'users-view': 'login' } }]">-->
<!--      <div class="option logout">-->
<!--        <p>Logout</p>-->
<!--      </div>-->
<!--    </a>-->

<!--  </div>-->
