header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px  ;
  position: relative;
  color: black;
  z-index: 1;
}

header .user-section{
  display: flex;
  /*gap: 20px;*/
  /*position: relative;*/
  z-index: 1;
}
header .user-section i{
  padding: 1px;
  color: grey;
  font-size: 23px;
}
header .user-profile-picture .userImage{
  width: 40px;
  height: 40px;
  border-radius: 1000px;
}
.user-profile-picture .user-menu,
.notificationSectionWrapper{
  position: fixed;
  display: none;
  flex-direction: column;
  background-color: white;
  /*box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5) ;*/
  transform: translate(-30%);
  border: solid #c7c7c7 0.01cm;
  border-radius: 5px;
  top: 120px;
  text-align: center;
  z-index: 9999;
}
.notificationSectionWrapper::-webkit-scrollbar{
  display: none;
}
header .user-profile-picture .user-menu{
  width: clamp(105px,20vw,200px);
  text-align: left;
}
.user-profile-picture,
.notifications{
  display: flex;
  align-items: center;
  padding: 8px 13px 7px 13px;
  /*border: solid grey 0.01cm;*/
  border-radius: 100px  ;
}
.notifications{
  margin-right: 20px;
  position: relative;
}
.user-profile-picture:hover,
.notifications:hover{
  cursor: pointer;

}
.usernameContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.usernameContainer .username,
.usernameContainer .email
{
  margin: 0;
}
.usernameContainer .email{
  font-size: 13px;
  color: #b5b5b5;
}
.notificationSectionWrapper {
  background-color: white;
  min-width: 100px;
  max-width: 250px;
  width: fit-content;
  /*position: relative;*/
  height: 180px;
  overflow-y: scroll;
  border-radius: 10px;
  /*position: absolute;*/
  z-index: 9999;
}
.notificationSectionWrapper .label{
  text-align: left;
  font-size: 18px;
  margin: 15px;
}

.notificationSection{
  display: flex;
  /*height: 100%;*/
  flex-direction: column;
  gap: 5px;
}
.notifications .notification{
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding:  10px;
  /*gap: 10px;*/

}
.notifications .notification:hover{
  background-color: #f4f6f8;
}
.notification .notificationMessage{
  color: #919191;
  display: flex;
  align-items: center;

}
.notification[seen="false"]{
  background-color: #e8f2fc;
}
.notification[seen="false"] .notificationMessage{
  color: #000000;

}
/*.notification[level="3"]{*/
/*  background-color: #5b91ff;*/
/*}*/
/*.notification[level="2"]{*/
/*  background-color: #fffda0;*/
/*}*/
/*.notification[level="1"]{*/
/*  background-color: red;*/
/*}*/
.notifications .wrapper{
  display: flex;
}
.hr {
  height: 1px;
  width: 100%;
  align-self: center;
  background-color: grey;
  border-radius: 10px;
}

.notificationMessage{
  width: 100%;
  text-align: left;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}
header .user-section .infoIcon {
  width: fit-content;
  height: fit-content;
  padding: 5px 15px;
  font-size: 15px;
  border: solid #d8d8d8 0.01cm;
  border-radius: 100px;
  margin-right: 10px;
}
header .user-section .user-menu h2{
  margin: 10px;
  font-size: 18px;
  font-weight: bolder;
}
header .user-section .user-menu .option.settings h5,
header .user-section .user-menu .option.logout h5{
  margin: 0 0 0 10px;
}
header .user-section .user-menu i{
  font-size: 13px;
}
header .user-section .user-menu .option.settings,
header .user-section .user-menu .option.logout a {
  display: flex;
  align-items: center;

}
 #notificationIcon{
  position: relative;

}
.newNotificationCircle{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1px;
  top: 1px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 10px;
}
.newNotificationCircle .whiteCircle{
  margin: 2px;
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 10px;
}

a{
  text-decoration: none;

}

.user-profile-picture{
  position: relative;
  z-index: 1;
}

.user-profile-picture .user-menu .option{
  padding: 14px 10px;
  /*box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5) ;*/

}
.user-profile-picture .user-menu .option.logout{
  background-color: #ffe2e2;


}
.user-profile-picture .user-menu .option:hover{
  background-color: #c1f6ff;
  /*box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5) ;*/
}
.user-profile-picture .user-menu .option.logout:hover{
  background-color: #ffcbcb;
  /*box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5) ;*/
}
