<header>
  <div class="logo">
    <i class="fa-solid fa-database"></i>
  </div>
  <div class="storage-info">
    <div #storageUsed class="storageUsed">
      <div *ngIf="!HeaderService.isLoading"  >{{HeaderService.transform(HeaderService.usedStorage)}}</div>
    </div>
    <div *ngIf="HeaderService.isLoading" class="lds-dual-ring"></div>

    <div  class="storageBar">
      <div class="progressBar" #usedStorageBar></div>
    </div>
<!--    <div *ngIf="HeaderService.isLoading" class="lds-dual-ring"></div>-->
    <div #storageLeft class="storageLeft">
      <div *ngIf="!HeaderService.isLoading"  >{{HeaderService.transform(HeaderService.totalVolume)}}</div>
    </div>

    <div *ngIf="HeaderService.isLoading" class="lds-dual-ring"></div>

  </div>

  <div class="lightDarkModeSlider" (click)="HeaderService.toggleDarkMode(Renderer2,btn)">
    <button #btn  class="lightDarkModeBtn"></button>
  </div>
  <div class="user-settings-menu">
    <a
      [routerLink]="['/users', { outlets: { 'users-view': 'login' } }]">
      <div class="option logout">
        <p>Logout</p>
      </div>
    </a>

  </div>



</header>
