.menu,.shareContainer{
    display:  none;
    flex-direction: column;
    position: absolute ;
    width: 100px;
    border-radius: 20px;
    border: 0.1cm solid tan;
    border-top-left-radius: 0;
    transition: 0.3s;
}
.option {
    padding: 7px 5px;
    margin: 0px;
    background-color: chocolate;
   display:flex ;
   justify-content: center;
}
p {
    margin: 0;
}
.delete{
    background-color: red;
}
.option:hover {
   background-color: antiquewhite;
   transition: 0.2s;
   cursor: pointer;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.shareContainer{
    display: none;
}
.shareContainer h5{
    margin: 0;
    background-color: chocolate;
}
.shareContainer p{
    text-align: center;
    font-size: 12px;
}