header{
    background-color: rgb(16, 185, 191);
    display: flex;
    justify-content: flex-end;
}

nav{
    margin-right:  60px;
}
nav li{
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 30px;
}
nav li p{
    margin: 0;
}
nav li:hover{
    background-color: rgb(43, 72, 73);
    transition: 0.8s;
    color: white;
}
main{
    height: 100vh;
    background-color: grey;
    /* display: flex; */
    /* justify-content: center; */
}
