.popupBG{
  position: fixed;
  background-color: rgba(165, 126, 126, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;
  justify-content: center;
  align-items: center;

}

/*needs to be on other place*/
app-add-file,app-add-folder{
  background-color: white;
  width: 40%;
  height: 60%;
  max-height:420px ;
  min-width: 320px;
  border-radius: 50px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 60px;

}

app-add-folder{
  height: 40%;
  width: 20%;
  justify-content: center;
  background-color: #D9D9D9;

}
app-add-file{
  width: 20%;
  padding: 30px 20px;
  background-color: #D9D9D9;
}
