.popupBG{
  position: absolute;
  background-color: rgba(165, 126, 126, 0.5);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
  justify-content: center;
  align-items: center;
}

/*needs to be on other place*/
app-add-file,app-add-folder{
  background-color: white;
  width: 40%;
  height: 60%;
  border-radius: 50px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;


}

app-add-folder{
  height: 40%;
  width: 20%;
  justify-content: center;
  background-color: #D9D9D9;
}
app-add-file{
  width: 20%;
  padding: 30px 20px;
  background-color: #D9D9D9;
}
