<div class="BG">

  <div class="settings-wrapper">
    <div (click)="UserSettingsPopupService.hidePopup()" class="closeBtn">
      <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="section label-section">
      <label for="font">Font</label>
      <label for="language">language</label>

    </div>
    <div class="section select-section">
      <select name="font" id="font">
        <option value="Minecraft">Minecraft</option>
      </select>
      <select name="language" id="language">
        <option value="Bulgarian">Bulgarian</option>
        <option value="English">English</option>
      </select>

    </div>
<!--    <div class="setting font">-->
<!--    </div>-->
<!--    <div class="setting language">-->
<!--    </div>-->

  </div>
</div>
