/* You can add global styles to this file, and also import other style files */
:root{
    --header-height:70px;
    --BGcolor:white;
    --textColor:black;
}
.darkMode{
  --BGcolor: #272525;
  --textColor:white;
}


app-root{
    width: 100%;
    position: relative;
}
body{
    width: 100vw;
    padding: 0px;
    margin: 0px;
    font-family: "Josefin Sans";
}
*{
    overflow: hidden;
    box-sizing: border-box;

}
