/*.storage{*/
/*  height: 90vh;*/
/*  display: grid;*/
/*  padding: 50px;*/
/*  grid-template-columns: repeat(auto-fit,clamp(100px,8vw,150px));*/
/*  grid-template-rows: repeat(auto-fit,clamp(100px,8vw,150px));*/
/*  gap: 20px;*/
/*  overflow-y: auto;*/
/*  background-color: var(--BGcolor);*/
/*  transition: 1s;*/

/*}*/
/*.storage .cell{*/
/*  width: 100%;*/
/*  aspect-ratio: 1/1;*/
/*  text-align: center;*/
/*  position: relative;*/
/*}*/
/*flex alternitive*/

.storage{
  height: 75vh;
  display: flex;
  /*margin-top: 20px;*/
  padding: 50px;
  gap: 20px;
  overflow-y: scroll;
  background-color: var(--BGcolor);
  transition: 1s;
  flex-wrap: wrap;
  align-content: baseline;
  align-items: flex-start;
}




.storage .cell{
  display: flex;
  width: clamp(130px,14vw,250px);
  flex-direction: column;
  /*height: clamp(100px,50vw,130px);*/
  /*height: 100px;*/
  /*aspect-ratio: 1/1;*/
  text-align: center;
  position: relative;
  padding: 10px 0;
  /*border:solid #e8e8e8 0.1px;*/
  border-radius: 10px;
  white-space: nowrap;
  background-color: #f2f1f1;

}
.storage .cell .imageAndDots{
  display: flex;

}



.storage .cell:hover{
  background-color: var(--cellOnHover)
}
/*.storage .cell:hover .elementName{*/
/*  text-overflow: initial;*/
/*  overflow: visible;*/
/* transform: translateX(-100%);*/
/*  transition: transform 5s linear;*/
/*}*/
.imageContainer{
  /*display: flex;*/
  /*height: 100%;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  display: flex;
  justify-content: center;
  padding-left: 10px;
  width: 120px;
  height: 80px;
  max-height: 90px;
  /*flex: 1;*/

}
.image{
  position: relative;
  padding: 10px;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  background-color: #f8f8f8;

}
img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cell .threeDots{
  /*flex: 1;*/
  display: flex;
  /*justify-content: flex-end;*/
  flex-direction: column;
  height: fit-content;
  align-items: center;
  margin-left: auto;
  padding: 5px 10px;
  margin-right: 15px;
  width: min-content;
  font-size: 2.5px;
  border-radius: 10px;
  gap: 3px;
}
.cell .threeDots:hover{
  background-color: white;
  transition: 0.5s;
  cursor: pointer;
}
.cell .threeDots .dot{
  width: 4px;
  height: 4px;
  border-radius: 100px;
  background-color: grey;
}

.storage .allowedTextOverflowing {
  overflow: visible;
  height: max-content;
}
.storage .allowedTextOverflowing .elementName {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 0 20px;
}
.crossMarkContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 999;

}
.crossMark{
  width: 0;
  height: 5px;
  background-color: red;
  border-radius: 3px;
  transform-origin: 0 50%;
  transform:  rotate(45deg);
  transition: 400ms;
}
.cell .elementName{
  flex: 1;
  text-overflow: ellipsis;
  margin: 5px 0;
  color: var(--textColor);
  transition: 1s;
  cursor: default;
  /*max-width: 50%;*/
  text-align: left;
  padding: 0 20px;
  height: fit-content;
  overflow-wrap: break-word;
  user-select: none;
}

.storage .directory i{
  font-size: 720%;
  color: var(--textColor);
  transition: 1s;
}

.storage .file i{
  font-size: 500%;
  color: var(--textColor);
  transition: 1s;
}

.addFileOrDirBtn{
  position: absolute;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
}
.addFileOrDirBtn i{
  font-size: 70px;
}

.tableCellView{
  overflow-y: scroll;
  height: 100vh;
}

.tableCellView table{
  margin: 0;
  width: 100%;
  background-color: var(--BGcolor);
  transition: 1s;

}

.tableCellView tbody tr td:first-child{
  text-align: center;
}
.tableCellView thead tr td:first-child{
  width: 10px;
}
.tableCellView thead tr td{
  color: var(--textColor);
  transition: 1s;
}
.tableCellView tbody tr td:hover{
/*background-color: var(--cellOnHover)*/
}

.tableCellView .tableListViewH3{
  margin: 0;
  padding: 10px;
  user-select: none;

}
.tableCellView .tableListViewH3:hover{
  cursor: default;

}
.tableCellView .directory i,.tableCellView .file i{
  color: var(--textColor);
  transition: 1s;
}
.noFileAndNoFoldersContainer{
  display: inline-block;
  margin-left: 50px;
  margin-top: 50px;
  padding:20px;
  border: solid var(--textColor) 0.1cm;
  border-radius: 10px;
  color: var(--textColor);

}
.noFileAndNoFoldersContainer:hover{
  cursor:not-allowed;
}
.noFileAndNoFoldersContainer i{
  margin: 10px;
}
.arrowDownContainer{
  display: flex;
  justify-content: center;
}

/*app-loader{*/
/*  width: 100%;*/
/*  height: 100vh;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-content: center;*/
/*}*/

