<app-loader *ngIf="isLoading"></app-loader>
<div>
  <app-popup-bg></app-popup-bg>
  <app-right-click-menu></app-right-click-menu>
  <app-create-folder-or-file-menu></app-create-folder-or-file-menu>
  <app-storage-navigation></app-storage-navigation>

  <div >
    <div class="haveFolder" *ngIf="haveFolder">
                <div class="noFileAndNoFoldersContainer" *ngIf="!this.StorageService.hasFiles&&!this.StorageService.hasFolders">
                  <p>This folder is empty<i class="em em-hot_face"></i></p>
                  <p>Try clicking the right mouse button to add new elements<i class="em em-three_button_mouse"></i></p>
  <!--                <p class="arrowDownContainer"><i class="em em-arrow_down" aria-role="presentation" aria-label="DOWNWARDS BLACK ARROW"></i></p>-->

                </div>

        <div *ngIf="enviroments.storageViewCellStructure" class="storage">
          <div [@cellDisappear]="folder.isCrossed?'out':'in'" (@cellDisappear.done)="StorageService.spliceFromList($event,index,'folder')"   #folderElement appFolderDoubleClick *ngFor="let folder of folders;let index = index" class="cell directory"  [attr._id]="folder._id">
            <div [@crossMarkAnim]="folder.isDisappearing?'in':'out'" (@crossMarkAnim.done)="crossMarkAnimationDone($event,folder)" class="crossMark"></div>
            <div>
    <!--          <i class="fa-solid fa-folder"></i>-->
              <img src="assets/folder.png" alt="image">
            </div>
            <h3>{{folder.name}}</h3>
          </div>
          <div [@cellDisappear]="file.isCrossed?'out':'in'" (@cellDisappear.done)="StorageService.spliceFromList($event,index,'file')" #fileElement appFolderDoubleClick *ngFor="let file of files;let index = index" class="cell file"  [attr._id]="file._id">
            <div [@crossMarkAnim]="file.isDisappearing?'in':'out'" (@crossMarkAnim.done)="crossMarkAnimationDone($event,file)" class="crossMark"></div>

            <div >
              <i *ngIf="!fileExtensions.includes(file.type)" class="fa-regular fa-file"></i>
              <img *ngIf="fileExtensions.includes(file.type)"  src="assets/{{file.type}}.png" alt="image">
            </div>
            <h3>{{file.fileName+"."+file.type}}</h3>
          </div>
        </div>
        <div *ngIf="!enviroments.storageViewCellStructure" class="tableCellView" >
          <table>
            <thead>
            <tr>
              <td>Type</td>
              <td>Name</td>
            </tr>

            </thead>
            <tbody>
            <tr [@tableViewDelete]="folder.isDisappearing?'out':'in'" (@tableViewDelete.done)="StorageService.spliceFromList($event,index,'folder')" #folderElement appFolderDoubleClick *ngFor="let folder of folders;let index = index" class="cell directory table-view-container" [attr._id]="folder._id">
              <td><i class="fa-solid fa-folder"></i></td>
              <td><h3 class="tableListViewH3">{{folder.name}}</h3></td>
            </tr>
            <tr [@tableViewDelete]="file.isDisappearing?'out':'in'" (@tableViewDelete.done)="StorageService.spliceFromList($event,index,'file')" #fileElement appFolderDoubleClick *ngFor="let file of files;let index = index" class="cell file" [attr._id]="file._id">
              <td>
                <i *ngIf="!fileExtensions.includes(file.type)" class="fa-solid fa-file"></i>
                <img *ngIf="fileExtensions.includes(file.type)"  src="assets/{{file.type}}.png" alt="image">
              </td>
              <td><h3 class="tableListViewH3">{{file.fileName+"."+file.type}}</h3></td>
            </tr>

            </tbody>

          </table>
        </div>

    </div>
    <div *ngIf="!haveFolder">
      <p>That folder doesn't exist or you are not authorised</p>
    </div>
  </div>

</div>

