
.wrapper{
  margin: 50px;
  background-color: white;
  min-width: 300px;
  height: 100%;
  border: solid black 0.04cm;
  border-radius: 40px;

}
.header{
  display: flex;
  justify-content: center;
  margin: 0 20px;
}
.header i, .header .closeBtn{
  display: flex;
  align-items: center;
}
.header .elementName{
  margin-left: 5px;
}
.header .closeBtn{
  margin-left: auto;
}


.main .whoHasAccess{
  display:  flex;
  flex-direction: column;
  margin: 0 10px;
}
.main .whoHasAccess.usersContainer{
  display:  flex;
  gap: 10px;

}

.main .whoHasAccess .usersContainer .userIcon{
  font-size: 24px;
  padding: 10px;
  border-radius: 100px;
  background-color: grey;
}
