<div class="wrapper">
  <app-loader *ngIf="!this.CacheService.elementInfo"></app-loader>
  <div class="section" *ngIf="this.CacheService.elementInfo">
      <div class="header">
        <i *ngIf="this.CacheService.elementInfo?.elementType=='file'" class="fa-regular fa-file"></i>
        <i *ngIf="this.CacheService.elementInfo?.elementType=='directory'" class="fa-regular fa-folder"></i>
        <div class="elementName">
          <h4 *ngIf="this.CacheService.elementInfo?.elementType=='file'">{{this.CacheService.elementInfo?.fileName|trimDetailsElementName}}</h4>
          <h4 *ngIf="this.CacheService.elementInfo?.elementType=='directory'">{{this.CacheService.elementInfo?.name|trimDetailsElementName}}</h4>
        </div>
        <div class="closeBtn" (click)="StorageService.hideFileOrFolderDetailsSection()">
          <i class="fa-solid fa-xmark"></i>
        </div>

      </div>
      <div class="main">
        <div *ngIf="this.CacheService.elementInfo?.elementType=='directory'" class="whoHasAccess">
          <h3>Who has access</h3>
          <div class="usersContainer">
            <i #userIcon  *ngFor="let user of this.CacheService.elementInfo?.autorised" class="fa-solid fa-user userIcon" [attr.userEmail]="user.email" [attr.userId]="user._id">
              <div *ngIf="userIcon.getAttribute('isSelected')=='true'" class="userInfoFromIcon">
                <div class="email">
                  <p>{{user.email}}</p>
                </div>
              </div>
            </i>
          </div>
        </div>
        <div class="elementDetails">
          <h3 id="elementDetailsHeading">Element details</h3>
          <div class="straightLine"></div>
          <div class="type">
            <h5>Type</h5>
            <p>{{this.CacheService.elementInfo?.elementType}}</p>
          </div>
          <div *ngIf="this.CacheService.elementInfo?.elementType=='file'" class="size">
            <h5>File size</h5>
            <p>{{HeaderService.transform(this.CacheService.elementInfo?.length)}}</p>

          </div>
          <div *ngIf="this.CacheService.elementInfo?.elementType=='file'" class="fileExtension">
            <h5>File extension</h5>
            <p>{{this.CacheService.elementInfo?.type}}</p>
          </div>
          <div *ngIf="this.CacheService.elementInfo?.elementType=='directory'" class="isPublic">
            <h5>Public <span *ngIf="CacheService.elementInfo?.isPublic">&#9989;</span><span *ngIf="!CacheService.elementInfo?.isPublic">&#10060;</span></h5>
          </div>

          <div class="createdAt">
            <h5>Created at</h5>
            <p>{{this.CacheService.elementInfo?.createdAt|date:"medium"}}</p>
          </div>
          <div class="inCaseOfEmergency">
            <h5 id="inCaseOfEmergencyTitle">In case of emergency:</h5>
            <button id="openATicket">Open a ticket</button>
            <div class="id">
              <h5>Element ID</h5>
              <p>{{this.CacheService.elementInfo?._id}}}</p>
            </div>

          </div>
        </div>
      </div>
  </div>

</div>
