.block{
  height: 60px;
  width: 100%;
  background-color: red;
}
.wrapper{
  background-color: white;
    width: 300px;
  height: 100%;
  /*max-height: 500px;*/
  overflow-y: scroll;
  border: solid black 0.04cm;
  border-radius: 40px;
  /*border-top: none;*/
  position: relative;


}

.wrapper::-webkit-scrollbar{
  display: none;
}
.wrapper .section{
  margin-bottom: 20px;
}


.header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #b5b5b5;
  border: solid black 0.04cm;
  border-bottom: none;
  width: 100%;
  padding: 0 20px;
  z-index: 9990;


}
.header i, .header .closeBtn{
  display: flex;
  align-items: center;
}
.header .elementName{
  margin-left: 5px;
}
.header .closeBtn{
  margin-left: auto;
  height: fit-content;
  padding: 5px;
  border-radius: 100px;
  transition: background-color 0.2s;
}
.header .closeBtn:hover{
  background-color: grey;
  cursor: pointer;
}


.main{
  margin:70px 20px 0 20px;
}
.main .whoHasAccess{
  display:  flex;
  flex-direction: column;
  margin: 0 10px;

}
.main .whoHasAccess .usersContainer{
  display:  flex;
  gap: 10px;
  flex-wrap: wrap;

}

.main .whoHasAccess .usersContainer .userIcon{

  font-size: 24px;
  padding: 10px;
  border-radius: 100px;
  background-color: grey;
  position: relative;
  /*z-index: 1;*/
}
.main .whoHasAccess .usersContainer .userIcon .userInfoFromIcon{

  position: fixed;
  background-color: white;
  width: 100px;
  height: 100px;
  border: solid grey 0.01cm;
  border-radius: 10px;
  z-index: 9999;
}
.main .whoHasAccess .usersContainer .userIcon .userInfoFromIcon .email p{
  font-size: 8px;
  margin: 10px 5px;
  text-overflow: ellipsis;
}





.main .elementDetails  {
  margin-top: 10px;
  padding: 0 30px 30px 30px;
  background-color: #dfdfdf;
  border-radius: 20px;
}
.main .elementDetails #elementDetailsHeading {
  display: flex;
  justify-content: center;
}
.main .elementDetails .straightLine {
  height: 0.1cm;
  border-radius: 10px;
  width: 100%;
  background-color: #716A6A;

}
.main .elementDetails h5 {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.main .elementDetails p {
  margin: 0;
}
.main .inCaseOfEmergency{
  display: flex;
  padding: 15px;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  background-color: dodgerblue;
  margin: 20px 0;
}
#inCaseOfEmergencyTitle{
  margin: 10px 10px;
  font-size: 23px;
  font-weight: bolder;
}
#openATicket{
  padding: 10px;
  background-color: indianred;
  color: white;
  border-radius: 100px;
  margin: 10px 0;
}
.main .inCaseOfEmergency h5{
  margin: 10px;
}

.main .inCaseOfEmergency .idContainer{
  display: flex;
  flex-direction: column;
  border-radius: 20px;

}
.main .inCaseOfEmergency .idContainer p{
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  background-color: deepskyblue;
  padding: 10px;
}
.main .inCaseOfEmergency .idContainer label{
  padding: 5px;
  background-color: #00d9ff;

}
.main .inCaseOfEmergency .idContainer label:hover{
  cursor: pointer;

}

