
/* .addFile{
   background-color: white;
   width: 40%;
   height: 40%;
   border-radius: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
} */
.wrapper{
  text-align: center;
}
form{
  margin-bottom: 20px;
}
.upload input{
  position: absolute;
  left: -9999px;
}
.upload {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.upload label {
  background-color: #0cc0df;
  padding: 15px 10px;
  border-radius:20px ;
  display: inline-block;
  cursor: pointer;
  width: 90px;
  text-align: center;
}
.titleContainer label{
  margin-right: 10px;
}
.fileInfo{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.navigation{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
#proceedBtn,#abortBtn{
  all: unset;
  padding: 15px 10px;
  border-radius:20px ;
  display: inline-block;
  cursor: pointer;
  width: 90px;
  height: 20px;
  text-align: center;
}
.navigation #proceedBtn {
  background-color: rgb(16, 238, 16);
}
.navigation #abortBtn {
  background-color: rgb(232, 0, 0);
}
.navigation #proceedBtn:disabled,.navigation #abortBtn:disabled{
  cursor: not-allowed;
  background-color: grey;
  opacity: 0.7;
}
/*.wrapper label#progress-bar{*/
/*  margin: 20px 0;*/
/*}*/
