<div #popupAddFile class="wrapper">
  <form [formGroup]="fileForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="titleContainer">
<!--      <label for="">Title:</label>-->
      <input #fileNameInput class="fileName" type="text" formControlName="fileName" placeholder="File name">
<!--      <input #sameAsOriginalCheckBox type="checkbox" name="isSameTitle" id="isSameTitle">-->
<!--      <label for="isSameTitle">Same as original</label>-->
    </div>
    <div class="upload">
      <label for="fileUpload">Select file</label>
      <input type="file" name="file" id="fileUpload" (change)="onFileSelected($event)">
    </div>
    <div class="fileInfo">
      <div class="fileLength">
        <h5>File size</h5>
        <div class="horizontalLine"></div>
        <p class="fileLengthParagraph">{{selectedFileSizeInMB?.toFixed(2)||0}} MB</p>
      </div>
      <div class="fileType">
        <h5>File type</h5>
        <div class="horizontalLine"></div>
        <p>{{selectedFile?.type?.slice(0,15)||"unknown"}}</p>
      </div>
    </div>
    <div class="navigation">
      <div class="proceed">

        <button [disabled]="this.areBtnDisabled" class="btn" id="proceedBtn" type="submit">Upload</button>
      </div>
      <div class="abort">

        <button [disabled]="this.areBtnDisabled" (click)="hidePopup()" class="btn" id="abortBtn">Abort</button>

      </div>
    </div>
  </form>
  <label id="progress-bar"></label>
</div>
